/*Colors: Text: 1A1A1A Green:    White: */
/* #container{
     margin:auto;
     height: 100%;
}
 */
 * {
    margin: auto;
     /* border: solid 1px grey;   */
   /* display: block;
    size: 100%;
    */
    font-family: 'Montserrat',sans-serif ;
    max-width: 1200px;
   
}

html, body {
    min-height: 100%;
    font-size: 14px;
    background-color: #fff;
     
  
} 

    #container {
        max-width: 1200px; 
        /* margin-bottom: -8em;
        padding-bottom: 8em; */
    
    }
    
footer {
    height: 8em;
}


header {
 
  text-align: justify;
      background-color:#FFF;

}   

 #menubar {
    width: 100%;
position: fixed;
     display: block;  
    padding-right: 1193px;
} 

header nav {
    display: inline-block;
    position: fixed;
    background-color:#FFF;
    max-width: 1200px;
    height: 80px;
    
    
}

#logo {
   position: left;
    width: 14%;
    height: 10%;
    text-align: bottom;
    padding-right: 36em;
    padding-top: 20px;
    overflow: hidden;


   
    line-height: 1rem;

}



 ul{
    text-align: justify;
    size: 890px;   
   
    text-decoration: none;
  
  

}

nav ul li {
  
   display: inline-block;
    line-height: 1.8rem;
   padding-top: 20px;
   font-size: medium;
   
   overflow: hidden;
 padding-left: 1.3em;
 padding-right: 1em;
   padding-top: 1.5em;
   padding-bottom: 0.5vh;
  

   
   
   
}

li a {
  
    font-size: 1.1em;
text-decoration: none;
color: #1A1A1A;


   
} 

#imgprincipal {
    width: 100%;
   padding-top: 79px;
}

#parraf1 {
    display: inline-block;
    position: absolute ;
    padding: 3vh;
    top: 40%;
    left: 50%;
    font-family: 'Montserrat';
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 77px;
    text-align: center;
    font-weight: bolder;
    font-weight: 900px; 
}


#parraf2 {
    display: inline-block;
    position: absolute ;
    padding: 4vh;
    top: 53%;
    left: 50%;
    font-family: 'Montserrat';
    transform: translate(-50%, -50%);
    color: #FFF;
   font-size: 25px;
    text-align: center;
 
    font-weight: 400px; 
}

.firstsection img {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 11vh;
    }

.firstsectionh1{
    text-align: center;
    line-height: 1.7em;
    padding-top: 0.8em;
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: 0.01em;
    
       
  }


.firstsection h2 {
    color: #00B172;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1.2em;
    font-size: 27px;
    letter-spacing: 0.01em;
  }

.firstsection p{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4em;
    letter-spacing: 0.01em;
}


.firstsection {
    display: flex;
    width: 99%;
    padding: 5px; 
}  


.hijo1{
    margin: 5%;
    width: 25%;
    text-align: center;
}

.hijo2{
    margin: 5%;
    width: 28%;
    text-align: center;
}

.hijo3{
    margin: 5%;
    width: 28%;
    text-align: center;
} 




.finalsectionh1{
    background-color: #00B172;;
    font-size: 32px;
    font-weight: bolder;
    padding-left: 97px;
    padding-top: 30px;
    color: #FFF;  
    letter-spacing: 0.01em;
    border-bottom: 2px solid  #FFF ;
   
 
}

.finalsection h2 {
    
    font-size: x-large;
    font-weight: bold;
    line-height: 2.6em;
    letter-spacing: 0.01em;
    padding-top: 20px;
    
  
  
}

.finalsection p{

    white-space: pre-line;
    line-height: 2em;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.01em;
   
    
}
   
#logoimg{
    height: 7vh;
}

#appimg{
    height: 600px;
}

.finalsection {
    display: flex;
    background:#00B172;;
    color: #FFF;  
    width: 100%;
  
}
 
.finaltex{
  
    width: 300px;
    padding-bottom: 70px;
    
}

.finalimage1 {
    width: 20%;
}

.finalicon1 {
    width: 20%
}



           

    
    
  
  