/*Colors: Text: 1A1A1A Green:    White: */
/* #container{
     margin:auto;
     height: 100%;
}
 */

     

 * {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    /* border: 2px solid red;   */
}


 header {
    width: 100%;
    height: 50px;
    background:#fff;
    color: #fff;
    text-align: justify;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
} 


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    height: 60px;
    align-items: center;
    margin: 0 auto;
    display: table;
    position: fixed;
}


#logo {
    height: 50px;
    padding-left: 10px;
}


.menu{
    position: absolute;
    display: inline-block;
     top: 0;
    left: 0;
    width: 100%;
    height: 500vh;
}


.menu a {
    float: right;
    color: #222326;
    height: 50px;
    text-decoration: none;
    padding: 18px;
}


section {
    width: 100%;
    margin-bottom: 30px;
}


#banner{
    margin-top: 60px;
    position: relative;
}


#banner img {
    width: 100%;
    height: auto;
}


.containerbanner{
    position: absolute;
    display: inline-block;
    top: 40%;
    left:50%;
    transform: translateX(-45%) translateY(-45%);  
    color: #fff;
}


.containerbanner h3{
    font-size: 65pt;
    text-align: center;
    padding-bottom: 20px;
}



.containerbanner p{
font-size: 27pt;
text-align: center;
line-height: 3rem;
letter-spacing: 0.01em;
}


#whatson  h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25pt;   
}


#whatson h4 p{
    text-align: center;
}


.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;
    padding: 65px;    
}


.contenedor h4{
    font-size: 28px;
    letter-spacing: 0.01em;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #00B172;
}


.contenedor p{
    font-size: 22px;
    letter-spacing: 0.01em;
    line-height: 1.4em;
}


.contenedor img {
    width: 40%;
    max-width: 150px;
}


.finalcontainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color:#00B172;
    padding: 84px;
    margin:  0px 90px 0px 90px;
    color: #fff;
}


#logoimg{
    height: 20vh;
}


#appimg{
    height: 500px;   
}


#finaltext h2{
    background-color: #00B172;;
    font-size: 32px;
    font-weight: bolder;
    color: #FFF;  
    letter-spacing: 0.01em;
    border-bottom: 3.5px solid  #FFF ;
    padding-bottom: 5px;
}


#finaltext h4{
    font-size: x-large;
    font-weight: 500;
    line-height: 3.3em;
    letter-spacing: 0.01em;
    padding-top: 23px;
    color: #fff;
}


#finaltext p{
    white-space: pre-line;
    line-height: 0.8em;
    font-size: 22px;
    letter-spacing: 0.01em;
}






























































 /* * {
    margin: auto;
  
   /* display: block;
    size: 100%;
    */
    /* font-family: 'Montserrat',sans-serif ;
   
   
}

 body {
  
    font-size: 14px;
    background-color: #fff;
    height:4000px;
    margin-right: auto;
    margin-left: auto;
  
} 

    #container { */
        
        /* margin-bottom: -8em;
        padding-bottom: 8em; */
/*     
    }
    
footer {
    height: 8em;
}


header {
 
  text-align: justify;
      background-color:#FFF;
      display: inline-block;
      margin-left: auto;
      margin-left: auto;

}   

 #menubar {
   
position: fixed;
   display: contents; 
    
} 

header nav {
    display: inline-block;
    position: fixed;
    background-color:#FFF;
   
    
    
    
}

#logo {
   position: left;
    width: 14%;
    height: 10%;
    text-align: bottom;
    padding-right: 36em;
    padding-top: 20px;
    overflow: hidden;


   
    line-height: 1rem;

}



 ul{
    text-align: justify;
   
    overflow: hidden;
    text-decoration: none;
  
  

}

nav ul li {
  
   display: inline-block;
   position: relativa;
    line-height: 1.8rem;
   padding-top: 20px;
   font-size: medium;
   
   overflow: hidden;
 padding-left: 1.3em;
 padding-right: 1em;
   padding-top: 1.5em;
   padding-bottom: 0.5vh;
  

   
   
   
}

li a {
  
    font-size: 1.1em;
text-decoration: none;
color: #1A1A1A;


   
} 

#imgprincipal {
    width: 100%;
   padding-top: 79px;
}

#parraf1 {
    display: inline-block;
    position: absolute ;
    padding: 3vh;
    top: 40%;
    left: 50%;
    font-family: 'Montserrat';
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 77px;
    text-align: center;
    font-weight: bolder;
    font-weight: 900px; 
}


#parraf2 {
    display: inline-block;
    position: absolute ;
    padding: 4vh;
    top: 53%;
    left: 50%;
    font-family: 'Montserrat';
    transform: translate(-50%, -50%);
    color: #FFF;
   font-size: 25px;
    text-align: center;
 
    font-weight: 400px; 
}

.firstsection img {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 20vh;
    }

.firstsection h1{
    text-align: center;
    line-height: 1.7em;
    padding-top: 0.8em;
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: 0.01em;

    
       
  }


.firstsection h2 {
    color: #00B172;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1.2em;
    font-size: 27px;
    letter-spacing: 0.01em;
  }

.firstsection p{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4em;
    letter-spacing: 0.01em;
}


.firstsection {
    display: flex;
    width: 99%;
    padding: 5px; 
}  


.hijo1{
    margin: 5%;
    width: 25%;
    text-align: center;
}

.hijo2{
    margin: 5%;
    width: 28%;
    text-align: center;
}

.hijo3{
    margin: 5%;
    width: 28%;
    text-align: center;
} 





    
}
   
#logoimg{
    height: 7vh;
}

#appimg{
    height: 600px;
}

.finalsection {
    display: flex;
    background:#00B172;;
    color: #FFF;  
    width: 100%;
  
}
 
.finaltex{
  
    width: 300px;
    padding-bottom: 70px;
    
}

.finalimage1 {
    width: 20%;
}

.finalicon1 {
    width: 20%
}



           

    
    
   */
    